@model IEnumerable<WebDongHo.Models.SanPham>
@{
    ViewBag.Title = "DanhMucThuongHieu";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<div class="container">
    <ul style="text-align:center; color:#FFF;font-size:30px;padding-bottom:20px">
        <li>
            <a class="current">
                Hãng sản xuất @foreach (var item in ViewBag.TenTH)
                {
                    @item.TenDanhMuc
                }
            </a>
        </li>
    </ul>
    <div class="row">
        
        
        @foreach (var item in Model)
        {
            <div class="col-4">
                <a href="@Url.Action("Detail","HomeUser",new{ id=item.MaSanPham  })">
                    <img src="@item.ImgUrl" width="250" height="250" alt="@item.TenSanPham">
                    <h4>@item.TenSanPham</h4>
                    <p class="price">@String.Format("{0:0,0}", item.GiaGoc) VND</p>
                </a>
            </div>
        }

    </div>
</div>

