

@model WebDongHo.Models.SanPham
@*@model IEnumerable<WebDongHo.Models.SanPham>*@

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
@*<style type="text/css">
        #datmua{
            margin-left:400px;
            padding-top:98px}
        #datmua a{
            clear:both; background-color:red;
            color:white; width:120px; height:35px;
            display:block; text-align:center;
            padding-top:10px; text-decoration:none; font-weight:bold;

        }
        #datmua a:hover{
            background-color:grey;
            color:red
        }
    </style>
    <h2 style="color:white;padding-left:134px">Chi tiết sản phẩm</h2>
    <div style="padding-left:134px">
        <img src="@Model.ImgUrl" style= alt="" />

        <div class="col-0" style="color:white;float:right ">
            <p style="font-weight:bold; font-size:26px">@Model.TenSanPham</p>
            @Model.MoTaNgan<br>
            <textarea style="width:500px; height:140px">@Model.MoTaChiTiet</textarea>
            <h2 style="color:red">@Model.GiaGoc VND</h2>
            <div id="datmua">
                <a href="@Url.Action()" class="list-group-item">ĐẶT MUA</a>
            </div>
        </div>

    </div>*@


<link rel="stylesheet" href="~/Content/base.css" />
<link rel="stylesheet" href="~/Content/detail.css" />

<!-- Details -->
<div id="detail">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img id="img__big" src="@Model.ImgUrl" alt="">
                <div class="images">
                    <div class="img__small">
                        <img src="@Model.ImgUrl" alt="" class="imgs active">
                        <img src="@Model.ImgUrl" alt="" class="imgs">
                        <img src="@Model.ImgUrl " alt="" class="imgs">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="info-detail">
                    <div class="info">
                        <h2>Thông Tin Sản Phẩm</h2>
                        <h3>Dong ho nam ....</h3>
                    </div>
                    <div class="price">
                        <h3>@Model.KhuyenMai VND</h3>
                        <h3>@Model.GiaGoc VND</h3>
                    </div>
                    <div class="tabs-info">
                        <div class="info-item active">Mô Tả</div>
                        <div class="info-item ">Thông Tin Cơ Bản</div>
                        <div class="info-item ">Xuất Xứ</div>

                    </div>
                    <div class="tabs-info-content">
                        <div class="tab-pane active">
                            <p>@Model.MoTaNgan</p>
                        </div>
                        <div class="tab-pane">
                            <p>@Model.MoTaChiTiet</p>
                        </div>
                        <div class="tab-pane">
                            <p>Đồng hồ Longines L4.860.2.11.7 là đồng hồ thời trang thuộc công ty Fossil có trụ sở tại bang Texas, của Mỹ.</p>
                        </div>
                    </div>


                    <div class="button">
                        <div class="btn">
                            <a href="@Url.Action("ThemGiohang","Giohang", new { @id = @Model.MaSanPham,@strURL=Request.Url.ToString() })" class="cart-icon">
                                <i class="fas fa-shopping-cart"></i>
                                Thêm vào giỏ
                            </a>
                        </div>
                        <div class="btn">
                            <a href="" class="buy-now">Mua Ngay</a>
                        </div>
                    </div>
                    <div class="fb-comments" data-href="http://dongho4aechinhhang.somee.com/" data-width="" data-numposts="10"></div>
                </div>
            </div>
        </div>
    </div>
</div>







