@model IEnumerable<WebDongHo.Models.SanPham>



<div class="container">
    <h2 class="title">Đồng hồ nữ bán chạy</h2>
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-4">
                <a href="@Url.Action("Detail","HomeUser",new{ id=item.MaSanPham  })">
                    <img src="@item.ImgUrl" height="250" width="250" alt="@item.TenSanPham">
                    <h4>@item.TenSanPham</h4>
                    <p class="price">@String.Format("{0:0,0}", item.GiaGoc) VND</p>
                </a>
            </div>
        }
    </div>
</div>
