
@using WebDongHo.Models
@using PagedList.Mvc;
@model PagedList.PagedList<WebDongHo.Models.SanPham>
@{
    ViewBag.Title = "ThuongHieu";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<table>
    <div class="container">
        <h2 class="title">Tất Cả Sản Phẩm</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <a href="@Url.Action("Detail","HomeUser",new{ id=item.MaSanPham  })">
                        <img src="@item.ImgUrl" width="250" height="250" alt="@item.TenSanPham">
                        <h4>@item.TenSanPham</h4>
                        <p class="price">@String.Format("{0:0,0}", item.GiaGoc) VND</p>
                    </a>
                </div>
            }
        </div>
    </div>
</table>
@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("ThuongHieu", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
        color: #fff
    }
</style>*@



<link rel="stylesheet" href="~/Content/pagination.css" />

<!-- pagination -->
<ul class="pagination home-product__pagination">
    <li class="pagination-item">
        <a href="#" class="pagination-item__link">
            <i class="pagination-item__icon fas fa-angle-left"></i>
        </a>
    </li>

    <li class="pagination-item">
        <a href="https://localhost:44324/HomeUser/ThuongHieu?page=1" class="pagination-item__link">1</a>
    </li>
    <li class="pagination-item">
        <a href="https://localhost:44324/HomeUser/ThuongHieu?page=2" class="pagination-item__link">2</a>
    </li>
    <li class="pagination-item">
        <a href="https://localhost:44324/HomeUser/ThuongHieu?page=3" class="pagination-item__link">3</a>
    </li>
    <li class="pagination-item">
        <a href="#" class="pagination-item__link">...</a>
    </li>

    <li class="pagination-item">
        <a href="#" class="pagination-item__link">
            <i class="pagination-item__icon fas fa-angle-right"></i>
        </a>
    </li>
</ul>

