
@model List<Giohang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}


<link rel="stylesheet" href="~/Content/cart.css" />
<div id="cart">
    <div class="container">
        <div class="cart">
            <h2>THÔNG TIN GIỎ HÀNG</h2>
            <table>
                <tr class="cart-info">
                    <td>Mã sản phẩm </td>
                    <td>Tên sản phẩm </td>
                    <td>Ảnh bìa</td>
                    <td>Số lượng </td>
                    <td>Đơn giá </td>
                    <td>Thành tiền </td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="cart-sub-info">
                        <td>@item.iMasanpham</td>
                        <td>@item.sTensanpham</td>
                        <td><img src="@item.sAnhbia"></td>
                        @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMasp = item.iMasanpham }))
                        {
                            <td>
                                <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" />
                            </td>
                            <td>@String.Format("{0:0,0}", @item.dDongia)</td>
                            <td>@string.Format("{0:0,0}", @item.dThanhtien)</td>
                        }
                    </tr>
                }
                <tr class="cart-money">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tổng số lượng: <span>@ViewBag.Tongsoluong</span></td>
                    <td></td>
                    <td>Tổng tiền: <span>@string.Format("{0:0,0}", ViewBag.Tongtien)</span><span>VND</span></td>

                    <td></td>

                </tr>
                <tr class="cart-checkout">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button>@Html.ActionLink("Trở về giỏ hàng", "Giohang", "Giohang")</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>





@using WebDongHo.Models
@{
    User kh = (User)Session["TaiKhoan"];
}
<div id="order">
    <div class="container">
        <div class="order">
            <h2> THÔNG TIN KHÁCH HÀNG</h2>
            <table>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <tr>
                        <td>Ho tên khach:</td>
                        <td><span>@kh.HoTen</span></td>
                    </tr>
                    <tr>
                        <td>Dia chi: </td>
                        <td><span>@kh.DiaChi</span></td>
                    </tr>
                    <tr>
                        <td> SDT:</td>
                        <td><span> @kh.SDT</span></td>
                    </tr>
                    <tr>
                        <td> Ngay dat: </td>
                        <td><span>@DateTime.Now.ToShortDateString()</span></td>
                    </tr>
                    <tr>
                        <td> Ngày giao: </td>
                        <td><input class="date-input" type="date" name="Ngaygiao" /></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Payment","HomeUser")">Thanh Toán Bằng MoMo</a></td>
                        <td><input class="btn-submit" type="submit" value="Đồng Ý Đặt Hàng" /></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

