@model WebDongHo.Models.LienHe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; color:#926dd3; text-transform: uppercase; font-size:30px; ">Chi Tiết Liên Hệ</h2>

<div>

    <hr />
    <dl class="dl-horizontal" style="font-size: 14px;">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p style="margin-left:100px;">
    @Html.ActionLink("Quay Lại", "Index")
</p>
