@model WebDongHo.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Chi Tiết Thông Tin Sản Phẩm</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Danh Mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucSanPham.TenDanhMuc)
        </dd>

        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            Giá Gốc
        </dt>

        <dd>
            @String.Format("{0:0,0}",Model.GiaGoc) VND 
        </dd>

        <dt>
            Khuyến Mãi
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.KhuyenMai) VND
        </dd>

        <dt>
            Hình 1
        </dt>

        <dd>
            <img src="@Model.ImgUrl" width="150" height="150" />
        </dd>

        <dt>
           Hình 2
        </dt>

        <dd>
            <img src="@Model.ImgUrl1"  width="150" height="150" />
        </dd>

        <dt>
            Hình 3
        </dt>

        <dd>
            <img src="@Model.ImgUrl2"  width="150" height="150" />
        </dd>

        <dt>
            Ngày Cập Nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhap)
        </dd>

        <dt>
            Mô Tả Ngắn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>

        <dt>
            Mô Tả Chi Tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaChiTiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSanPham }) |
    @Html.ActionLink("Trở về", "QLSanPham")
</p>
