@using WebDongHo.Models

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/images/logo-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/base.css" />
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=4348948228482677&autoLogAppEvents=1" nonce="NvF4cWFk">

    </script>
    <!-- logo and menu -->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="@Url.Action("Index", "HomeUser")"><img src="~/images/logo.png" width="200px" ; height="60px" alt=""></a>
                </div>
                <div class="menu__bars hide-on-pc">
                    <div class="header__search ">
                        <input type="text" class="header__input" placeholder="Nhập để tìm kiếm">
                        <button class="search-icon">
                            <i class="search-icon-item fas fa-search"></i>
                        </button>
                    </div>
                    <div class="bars">
                        <label for="check" class="checkbtn">
                            <i class="fas fa-bars"></i>
                        </label>

                        <input type="checkbox" hidden name="" class="check__input" id="check">

                        <label for="check" class="nav__overlay"></label>
                        <nav class="nav__mobile">
                            <ul class="nav__mobile-list">
                                <li><a href="">Trang Chủ</a></li>
                                <li><a href="">Tin Tức</a></li>
                                <li><a href="">Liên Hệ</a></li>
                                <li><a href="">Khuyến Mãi</a></li>
                                <li><a href="">Giở Hàng</a></li>
                                <li><a href="">Đăng Nhập</a></li>
                                <li><a href="">Đăng Ký</a></li>

                            </ul>
                        </nav>
                    </div>
                    <div class="header__cart">
                        <a href="" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
                <nav>
                   
                    <ul class="menuItems hide-on-tablet">
                        <li>
                            <a href="@Url.Action("ThuongHieu","HomeUser")">Thương hiệu</a>
                            <ul class="subnav">                              
                                <li><a href="@Url.Action("Casio","HomeUser")">Casio</a></li>
                                <li><a href="@Url.Action("Gshock","HomeUser")">G-Shock</a></li>
                                <li><a href="@Url.Action("Seiko","HomeUser")">Seiko</a></li>
                                <li><a href="@Url.Action("Michael","HomeUser")">Michael Kors</a></li>
                                <li><a href="@Url.Action("Citizen","HomeUser")">Citizen</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Nam","HomeUser")">Nam</a></li>
                        <li><a href="@Url.Action("Nu","HomeUser")">Nữ</a></li>
                        <li><a href="">Tin tức</a></li>
                        <li><a href="@Url.Action("Contact", "HomeUser")">Liên hệ</a></li>
                        <li><a href="">Khuyến mãi</a></li>
                     
                        @{
                            var user = (User)Session["TaiKhoan"];

                            if (user != null)
                            {
                                <li><a href="">Xin chào: @user.HoTen</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("DangNhap", "NguoiDung")">Đăng Nhập</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
            <div class="header__cart hide-on-tablet">
                @Html.Action("GiohangPartial", "Giohang")
            </div>
            <div class="header__search hide-on-tablet">
                <input type="text" class="header__input" placeholder="Nhập để tìm kiếm">
                <button class="search-icon">
                    <i class="search-icon-item fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>



    <div>
        @RenderBody()
    </div>


    <!-- social page -->
    <div class="container">
        <div class="row" style="background-color: #fff;">
            <h2 class="social__page">Social page:</h2>
            <div class="social__icon">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-youtube-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
        <hr>
    </div>


    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h1>Hotline 1900.1008</h1>
                    <div class="fb-like" data-href="http://dongho4aechinhhang.somee.com/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
                    <p>Nhóm thực hiện: Nhóm bốn anh em </p>
                    <p> 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</p>
                    <p>Số điện thoại: +84 582547177</p>
                    <p>Địa chỉ email: ptl171000@gmail.com</p>
                    <div class="fb-page" data-href="https://www.facebook.com/DongHoDepBMT" data-tabs="timeline" data-width="300" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DongHoDepBMT" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DongHoDepBMT">Đồng Hồ Đẹp BMT</a></blockquote></div>
                </div>
                <div class="footer-col-2">
                    <h2 class="footer__title">Hướng Dẫn</h2>
                    <p>Thông Tin Liên Hệ</p>
                    <p>Hỏi Đáp - Góp Ý</p>
                    <p>Chính Sách Đổi Hàng</p>
                    <p>Chính Sách Bảo Hành</p>
                </div>
                <div class="footer-col-3">
                    <h2 class="footer__title">Tham Khảo</h2>
                    <p>Sản Phẩm Mới</p>
                    <p>Bài Viết Mới </p>
                    <p>Thông Tin Khuyến Mãi</p>
                    <!--<p>Ngưng Hiện Quảng Cáo</p>-->
                    <img src="~/images/thong-bao-bo-cong-thuong.png" alt="" height="55x">
                </div>
                <div class="footer-col-4">
                    <h2 class="footer__title">Chứng Nhận</h2>
                    <a href=""><img src="~/images/dai-ly-chinh-hang.png" alt=""></a>
                    <a href=""><img src="~/images/khac-hang-noi-ve-chung-toi.png" alt=""></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h3>Copyright by Nhóm 4 anh em ® Since 2021</h3>
                    <p>Góp ý & Khiếu nại: ptl171000@gmail.com</p>
                </div>
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="pay">
                        <p>Phương thức thanh toán: </p>
                        <img src="~/images/tien-mat.png" alt="" class="palpay">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- messager -->
    <a href="" class="icon__mess"><i class="fab fa-facebook-messenger"></i></a>


    <script src="~/Scripts/slides.js"></script>
</body>
</html>
